<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bizly1">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".inventario.InventoryActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".inventario.ItemFormActivity"
            android:exported="false"
            android:parentActivityName=".inventario.InventoryActivity" />
            
        <activity
            android:name=".inventario.CameraScanActivity"
            android:exported="false"
            android:parentActivityName=".inventario.InventoryActivity"
            android:screenOrientation="portrait" />
            
        <activity
            android:name=".productos.ProductosVentaActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".productos.ProductoVentaFormActivity"
            android:exported="false"
            android:parentActivityName=".productos.ProductosVentaActivity" />
            
        <activity
            android:name=".ventas.VentasActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".ventas.PedidosPendientesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".sucursales.SucursalesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".sucursales.SucursalFormActivity"
            android:exported="false"
            android:parentActivityName=".sucursales.SucursalesActivity" />
            
        <activity
            android:name=".costos.CostosGastosActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".costos.CostoGastoFormActivity"
            android:exported="false"
            android:parentActivityName=".costos.CostosGastosActivity" />
            
        <activity
            android:name=".clientes.ClientesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
            
        <activity
            android:name=".clientes.ClienteFormActivity"
            android:exported="false"
            android:parentActivityName=".clientes.ClientesActivity" />
            
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />
    </application>

</manifest>